<ng-template #loading>
    <app-spinner></app-spinner>
</ng-template>

<article *ngIf="(item$ | async) as product; else loading">
    <h2 id="category">{{product.category.join(' > ')}}</h2>
    <div class="container">
        <img [src]="product.item.picture" alt="">
        <div id="detailContainer">
            <p id="condition">
                {{product.item.condition === 'new' ? 'Nuevo' : 'Usado'}}
                - {{product.item.sold_quantity}} vendidos
            </p>
            <h2 id="title">{{product.item.title}}</h2>
            <div id="priceContainer">
                <h2>{{product.item.price.currency}} {{product.item.price.amount | number}}</h2>
                <img *ngIf="product.item.free_shipping" src="assets/images/ic_shipping.png" alt="">
            </div>
            <button>Comprar</button>
        </div>
    </div>
    <div id="descriptionContainer">
        <h3>Descripción del producto</h3>
        <p>{{product.item.description}}</p>
    </div>
</article>